html,button, input, select, textarea{
	color:#444;
}

html{ 	front-size: 1em; line-height: 1.4; }
body{background-color : #999}

div#wrapper {
max-width:900px;
min-width:320px;
margin: 0 auto;
font-family :aclonica, sans-serif;
}

img {
	float :right;
	
	border-color: #ccc;
	border:2px solid;
	border-radius:30px;
	color:white;
	box-shadow:0px 2px 4px rgba(0,0,0,0.2);
}

h1 {font-family: aladin, sans-serif;}


.fo { display: none ;}
.ep { display: none ;}


.hide {
  display: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 2px 0;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 0;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

